{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col">
      <h1 class="h2 mb-1">{{ title }}</h1>
  </div>
</div>

<hr class="my-2">

<div class="row">
  <!-- Main Content -->
  <div class="col-md-9 col-lg-10">
    <div class="row">
      <!-- Include Sidebar Content as Cards -->
      {% for item in modules %}
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ item['name']|capitalize }}</h5>
            <a href="{{url_for(item['name'] + '.index')}}" class="btn btn-primary">Enter module</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </di

{% endblock %}