google-api-core==2.11.0
google-cloud-pubsub==2.16.0
Flask==2.0.2
SQLAlchemy==1.4.40
psycopg2==2.9.9
gunicorn==20.1.0
flask-cors
Flask-WTF==1.2.1
Flask-User==0.6.21
WTForms-Components==0.10.5
Werkzeug==2.0.2

pandas==1.3.5